# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Style and coverage tests

on:
  push:
    branches: [ main, gh-actions ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pylint pycodestyle pytest-cov
        python -m pip install .
        python -m pip list
    - name: Codecov test
      run: |
        pytest --cov-report=xml --cov=diffprivlib --cov-append
#    - name: Codecov upload
#      uses: codecov/codecov-action@v2.1.0
    - name: pycodestyle
      run: pycodestyle --max-line-length=120 diffprivlib
    - name: pylint
      run: pylint --fail-under=8.5 -rn diffprivlib
